<h1>REGISTRATION PAGE</h1>
<form action="/login" method="post">
    <input type="text" name="name"> Name <br>
    <input type="password" name="password"> Password <br>
    <input type="submit" value="Register me">
</form>