<h1>LOGIN PAGE</h1><br><br>
<form action="/welcome" method="post">
    <input type="text" name="name"> User Name <br>
    <input type="password" name="password"> Password <br>
    <input type="submit" value="Login!">
</form>